@import "../../Styles/mixins.scss";

.add-liste {
  @include no-select; // @mixin, importeret
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-items: center;

  border-top: $border-generic; // $variable, importeret
  padding: 13px 20px 40px 12px;

  &__input {
    margin-bottom: 19px;
  }

  &__navn {
    width: 100%;
    border: 2px solid $blue-generic;
    border-radius: 5px;
    height: 30px;
    text-align: center;
  }

  &__fortryd,
  &__submit {
    @include no-select;
  }

  &__submit {
    @include btnStyle();
    width: 100%;
  }

  // "- Tilføj" knap i AddListe
  &__vis {
    @include no-select;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid transparent;
    &:hover {
      border: 2px solid $blue-generic;
      color: black;
    }

    &-setVis {
      align-self: center;
      padding-left: 10px;
      font-size: 14px;
      color: rgb(190, 189, 189);
      cursor: pointer;
      font-weight: lighter;
      &hover {
        color: black;
      }
    }
  }

  &__fortryd {
    padding: 5px;
    color: rgb(190, 189, 189);
    cursor: pointer;
    font-size: 14px;
    font-weight: lighter;
    &:hover {
      color: black;
    }
  }
}
