// SCSS / SASS - fortrækker SCSS syntax'en.
// https://sass-lang.com/documentation/at-rules/mixin

// Disse mixins kan bruges af andre scss filer via @import './mixins.scss

// Punkter, header, content.
$maxWidth: 700px !important;

// Dejlige blå til Header, knapper, aktivListe
$blue-generic: #8092e2;

// punkter, sidebar, addListe
$border-generic: 1px solid #a8a6a62f;

// Tilføj knap - (TilføjPunkt + AddListe)
@mixin btnStyle() {
  cursor: pointer;
  width: 75px;
  color: white !important;
  background-color: $blue-generic;
  border: 3px solid transparent;
  font-weight: bolder;

  margin-top: 10px;
  margin-right: 5px;
  font-size: 13px;
  line-height: 18px;
  padding: 6px 12px 7px 12px;

  position: relative;
  display: inline-block;
  white-space: nowrap;
  border-radius: 5px !important;
  text-decoration: none !important;
  text-align: center;

  outline: none;
}

// kan ikke markeres
@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none !important;
} // fra mixins.scss main fil

// align - center/left (hugget)
@mixin verticalalign($va-align: center) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  @if $va-align != center {
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
  } @else {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@mixin transparent-button() {
  background-color: transparent;
  border: 0;
  @include no-select();
}

// react-fa-icons i sidebar + header.
@mixin svgStyle {
  width: 17px !important;
  height: 17px !important;
  color: black;
  &:hover {
    color: white;
  }
}
