// SCSS / SASS - fortrækker faktisk SCSS syntax'en.
// https://sass-lang.com/documentation/at-rules/mixin

// Disse mixins kan bruges af andre scss filer via @import './mixins.scss

// Samme blå "tema farve" (header, markering af liste, liste pil, checkbox border)
$bgc-generic: #8092e2;

// Tilføj knap - punkter + lister
@mixin btnStyle() {
  cursor: pointer;
  width: 75px;
  color: white !important;
  background-color: $bgc-generic;
  border: 3px solid transparent;
  font-weight: bolder;

  margin-top: 10px;
  margin-right: 5px;
  font-size: 13px;
  line-height: 18px;
  padding: 6px 12px 7px 12px;

  position: relative;
  display: inline-block;
  white-space: nowrap;
  border-radius: 5px !important;
  text-decoration: none !important;
  text-align: center;
}

// kan ikke markeres
@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// align - center/left (hugget)
@mixin verticalalign($va-align: center) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  @if $va-align != center {
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
  } @else {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@mixin transparent-button() {
  background-color: transparent;
  border: 0;
}

// react-fa-icons i sidebar + header.
@mixin svgStyle {
  width: 20px;
  height: 20px;
  color: black;
  &:hover {
    color: white;
  }
}

// bruges flere steder, så siden ikke bliver for stor.
$maxWidth: 700px;
