@import "../../../Styles/mixins.scss";

.content {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-template-columns: 1fr auto;
  max-width: $maxWidth();
  margin: auto;

  // BOX SHADOW - OM HELE SIDEN
  // border: 1px solid rgb(218, 218, 218);
  // *********** SIDEBAR TOGGLE BUTTON ***************
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(36, 35, 35, 0.15);
  min-height: calc(100vh);
  // *********** ----------------------***************

  // NOT SIGNED IN - MIDDLE TEXT AND BUTTONS.
  &__not-signed-in {
    padding-top: 60px;
    p {
      text-align: center;
      a:visited,
      a:link,
      a:active {
        text-decoration: none;
      }
      a {
        margin: 10px;
        padding: 5px;
        background-color: $blue-generic;
        color: white;
        border-radius: 10px;
      }
    }
  }

  // *********** SIDEBAR TOGGLE BUTTON *************** (det meste hugget fra w3schools)
  &__toggle-sidebar {
    // top, right, bottom, left
    padding: 50px 5px 10px 0px;
    display: flex;
    justify-content: flex-end;
    // opacity: 75%;

    .switch {
      cursor: pointer;
      position: fixed;
      width: 48px;
      height: 28px;
    }

    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $blue-generic;
      -webkit-transition: 1s;
      transition: 1s;
      border: 1px solid transparent;
      border-radius: 5px;
    }
    .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 3px;
      bottom: 3px;
      background-color: rgb(255, 255, 255);
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border: 1px solid transparent;
      border-radius: 5px;
    }

    input:checked + .slider {
      background-color: $blue-generic;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px $blue-generic;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
      // background-//color: white;
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  }

  // SORTPUNKTER COMPONENT
  &__sort-by {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    // opacity: 75%;

    max-width: 90%;

    &-inner {
      position: fixed;

      label {
      }
      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none; /* Remove default arrow */
        text-align: center;
        font-weight: bold;
        background-color: $blue-generic;
        color: white;
        border: 1px solid transparent;
        border-radius: 5px;
        height: 28px;
        width: 48px;
        cursor: pointer;
        position: relative;
        top: -10px;
      }
      option {
      }
    }
  }
}
