// Henter font fra google
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900");
// @import "./Styles/mixins.scss";
// ********** General Settings **********
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  min-height: 100%;
}

ul {
  margin: 0;
  padding: 0;

  nav {
    margin: 1;
  }
}
