@import "../../Styles/mixins.scss";

// GØR SCROLLBAREN USYNLIG.
// Virker pludseligt ikke mere ???
::-webkit-scrollbar {
  display: none !important;
}

.sidebar {
  @include no-select;
  width: 136px;
  position: fixed;
  margin-top: 0px;

  // Making sidebar scrollable + little space at the but
  max-height: calc(100vh - 5rem);
  overflow-y: auto;

  border-right: 1px solid transparent;
  background-color: #fafafa;

  &_liste {
    li {
      border-radius: 5px;
      outline: none !important;
      list-style-type: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      line-height: 1.8;
      padding-left: 0;
      padding-right: 0;
      font-size: 12px;

      //styling af sidebar iconer + text - placering
      div {
        outline: none;
        width: 100%;
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        padding: 8px 0 10px 7px;

        // Mellemrum mellem icon og text.
        span {
          //
          margin-right: 5px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;

          // Iconer - størrelse + farve (matcher header color)
          svg {
            @include svgStyle();

            &.skjult {
              -webkit-transform: rotate(-180deg);
              transform: rotate(-180deg);

              // color: $blue-generic;
              color: white;
            }
          }
          &:nth-of-type(3n) {
            //3n = 3 span i sidebar = delete.
            display: flex;
            justify-content: right;
            justify-self: right;
            justify-items: right;
            // color: red;

            margin-left: auto;
            svg {
              color: rgb(243, 122, 122);
            }
          }
        }
      }
      &.aktivListe {
        outline: none;
        display: flex;
      }
      // markerer valgte liste (blue)
      &.aktivListe,
      &:hover {
        // font-weight: bolder !important;
        background-color: $blue-generic !important;
        color: white;
        //color: white;
        svg {
          color: white;
        }
      }
    }
  }
}
