@import "../../Styles/mixins.scss";

.sidebar {
  @include no-select;

  width: 136px;
  // height: 98%;
  // padding-top: 10px;
  position: fixed;

  // Making sidebar scrollable + little space at the but
  max-height: calc(100vh - 3rem);
  overflow-y: auto;

  border-right: 1px solid #f1f1f1;
  background-color: #fafafa;

  &_liste {
    li {
      list-style-type: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      line-height: 1.8;
      padding-left: 0;
      padding-right: 0;
      font-size: 12px;

      //styling af sidebar iconer + text - placering
      div:nth-child(1) {
        width: 100%;
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        padding: 10px 0 10px 15px;

        // Mellemrum mellem icon og text.
        span:first-of-type {
          margin-right: 10px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;

          // Iconer - størrelse + farve (matcher header color)
          svg {
            @include svgStyle();
          }
        }
      }
      // markerer valgte liste (blue)
      &.aktivListe,
      &:hover {
        font-weight: bolder;
        background-color: $bgc-generic;
        color: white;
        svg {
          color: white;
        }
      }
      &:hover {
        svg:hover {
          // color: white !important;
        }
      }
    }
  }
}
